@page
@model TheArmory.Web.Pages.Publication.Index

@{
    ViewData["Title"] = "Публикация";
}

<style>
    .btn-block {
        width: 100%;
    }
    
    #image-area {
            width: 100%; /* Ширина контейнера, можете изменить на желаемую */
            height: 500px; /* Высота контейнера, можете изменить на желаемую */
            overflow: hidden; /* Скрытие части изображения, если оно выходит за пределы контейнера */
            position: relative; /* Позиционирование контейнера */
        }
     
    #image-area img {
                width: auto; /* Автоматическое определение ширины изображения */
                height: 100%; /* Высота изображения занимает всю высоту контейнера */
                position: absolute; /* Позиционирование изображения внутри контейнера */
                top: 0; /* Расположение изображения сверху */
                left: 0; /* Расположение изображения слева */
                right: 0; /* Расположение изображения справа */
                bottom: 0; /* Расположение изображения снизу */
                margin: auto; /* Выравнивание изображения по центру контейнера */
                }
</style>

<div class="row">
    <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-secondary h-50" onclick="prevImage()">&#60;</button>
    </div>
    <div class="col-md-10 text-center">
        <div id="image-area" class="position-relative">
            <img id="current-image" src="/Default/Images/Ad/DefoultAdImage.png" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-secondary h-50" onclick="nextImage()">&#62;</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-1 text-center"></div>
    <div class="col-md-5 text-center">
        <label class="btn btn-primary btn-block">
            Добавить
            <input type="file" id="file-input" accept="image/*" multiple style="display: none;">
        </label>
    </div>
    <div class="col-md-5 text-center">
        <button type="button" class="btn btn-danger btn-block">Удалить</button>
    </div>
    <div class="col-md-1 text-center"></div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <!-- Поля для заполнения модели AdCreateCommand -->
        <form>
            <div class="form-group">
                <label for="name">Наименование:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Введите наименование" maxlength="255">
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="text" class="form-control" id="price" name="price" placeholder="Введите цену" oninput="validatePrice(this)">
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea class="form-control" id="description" name="description" placeholder="Введите описание" oninput="autoResize(this)"></textarea>
            </div>
            <div class="form-group">
                <label for="youtubeLink">Ссылка на YouTube видео с обзором:</label>
                <input type="text" class="form-control" id="youtubeLink" name="youtubeLink" placeholder="Введите ссылку на YouTube видео">
            </div>
            <div class="form-group">
                <label for="conditionId">Состояние:</label>
                <select class="form-control" id="conditionId" name="conditionId">
                    @foreach (var condition in Model.Conditions)
                    {
                        <option value="@condition.Id">@condition.Name</option>
                    }
                </select>
            </div>
            <div class="form-group my-2">
                <label for="regionId">Регион:</label>
                <select class="form-control" id="regionId" name="regionId">
                    @foreach (var region in Model.Regions)
                    {
                        <option value="@region.Id">@region.Code @region.Name</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>


<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px';
    }
    
    function validatePrice(input) {
            input.value = input.value.replace(/[^0-9.]/g, ''); // Оставить только цифры и точку
            // Удалить лишние точки
            var countDots = (input.value.match(/\./g) || []).length;
            if (countDots > 1) {
                input.value = input.value.replace(/\./g, '');
            }
        }
        
        
    // Добавление фоток 
    var images = []; // Массив для хранения путей к изображениям
        var currentImageIndex = 0; // Индекс текущего изображения
    
        function prevImage() {
            if (currentImageIndex > 0) {
                currentImageIndex--;
            } else {
                currentImageIndex = images.length - 1;
            }
            updateImage();
        }
    
        function nextImage() {
            if (currentImageIndex < images.length - 1) {
                currentImageIndex++;
            } else {
                currentImageIndex = 0;
            }
            updateImage();
        }
    
        function updateImage() {
            var image = document.getElementById("current-image");
            image.src = images[currentImageIndex];
        }
    
        function handleFileSelect(event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    images.push(e.target.result);
                    if (images.length === 1) {
                        updateImage();
                    }
                };
                reader.readAsDataURL(files[i]);
            }
        }
    
        document.getElementById('file-input').addEventListener('change', handleFileSelect, false);
</script>