@using TheArmory.Domain.Models.Request.Commands.User
@model TheArmory.Domain.Models.Responce.ViewModels.User.UserViewModel
@{
    var command = new UserCommand();
}

<style>
    .square-container {
        position: relative;
        width: 90%;
        padding-top: 90%;
        overflow: hidden;
    }

    .square-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                @if (!string.IsNullOrEmpty(@Model.PhotoName))
                {
                    <div class="square-container">
                        <img id="profile-photo" src="@(Model.BaseUrl + '/' + Model.PhotoName)" alt="Фото профиля" class="img-fluid square-image">
                    </div>
                }
                else
                {
                    <div class="square-container">
                        <img id="profile-photo" src="/Default/Images/Person/DefoultPersonImage.png" alt="Фото профиля" class="img-fluid square-image">
                    </div>
                }
            </div>
            <div class="col-9">
                <h4 class="card-title">@Model.Name</h4>
                <p class="card-text">Зарегистрирован: @Model.RegistrationDateTime</p>
                <p class="card-text">Последнее посещение: @Model.LastVisitDate</p>
                <form method="post" asp-page-handler="Delete">
                    <input type="hidden" asp-for="@command.Id" value="@Model.Id"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
