@page
@model AdInfo
@{
    ViewData["Title"] = Model.AdViewModel.Name;
}

<style>
    .btn-block {
        width: 100%;
    }
    
    #image-area {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    
    #image-area img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    .image-cell {
        width: 100px; /* Ширина ячейки */
        height: 100px; /* Высота ячейки */
        overflow: hidden; /* Скрытие избыточного контента */
        display: flex; /* Использование flexbox */
        align-items: center; /* Выравнивание по вертикали */
        justify-content: center; /* Выравнивание по горизонтали */
        margin: 0; /* Убираем отступы между ячейками */
    }
    
    .image-cell img {
        max-width: 100%; /* Максимальная ширина изображения внутри ячейки */
        max-height: 100%; /* Максимальная высота изображения внутри ячейки */
        width: auto; /* Автоматическое вычисление ширины для сохранения пропорций */
        height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
    }
</style>

<div class="row">
    <div class="col-10">
        <div class="row">
            <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-secondary h-50" onclick="prevImage()">&#60;</button>
            </div>
            <div class="col-md-10 text-center">
                <div id="image-area" class="position-relative">
                    <img id="current-image" src="@(Model.BaseUrl + '/' + Model.AdViewModel.Images.First().LocalPath)" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-secondary h-50" onclick="nextImage()">&#62;</button>
            </div>
        </div>

        <!-- Контейнер для ячеек с изображениями -->
        <div id="thumbnails-container" class="row mt-3">
            @foreach (var image in Model.AdViewModel.Images.Skip(1)) // Пропускаем первое изображение, так как оно уже отображено в основном блоке
            {
                <div class="col-md text-center image-cell position-relative">
                    <img src="@(Model.BaseUrl + '/' + image.LocalPath)" class="img-thumbnail img-fluid ">
                </div>
            }
        </div>
    </div>
    <div class="col-2">
        <div class="row">
            @if (!string.IsNullOrEmpty(@Model.AdViewModel.User.PhotoName))
            {
                <div class="square-container">
                    <img id="profile-photo" src="@(Model.BaseUrl + '/' + Model.AdViewModel.User.PhotoName)" alt="Фото профиля" class="img-fluid rounded-circle square-image">
                </div>
            }
            else
            {
                <div class="square-container">
                    <img id="profile-photo" src="/Default/Images/Person/DefoultPersonImage.png" alt="Фото профиля" class="img-fluid rounded-circle square-image">
                </div>
            }
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(Model.AdViewModel.YouTubeLink))
{
    <div class="row">
        <div class="mb-3">
            <iframe width="560" height="315" src="@Model.AdViewModel.YouTubeLink"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
    </div>
}

<div class="row mt-3">
    <div class="col-md-12">
        <div class="mb-3">
            <input type="text" value="@Model.AdViewModel.Name" class="form-control" placeholder="Наименование" readonly>
        </div>
        <div class="mb-3">
            <input type="text" value="@Model.AdViewModel.Price" class="form-control" placeholder="Цена" readonly>
        </div>
        <div class="mb-3">
            <textarea value="@Model.AdViewModel.Description" class="form-control" placeholder="Описание" readonly></textarea>
        </div>
        @* <div class="mb-3"> *@
        @*     <input type="text" asp-for="AdViewModel.Condition" class="form-control" placeholder="Состояние" readonly> *@
        @* </div> *@
        @* <div class="mb-3"> *@
        @*     <input type="text" asp-for="AdViewModel.Region" class="form-control" placeholder="Регион" readonly> *@
        @* </div> *@

        <div class="row">
            <h1>Место сделки</h1>


            <div class="row mt-3">
                <div class="col">
                    <input type="hidden" id="latitude" value="@Model.AdViewModel.Location.Latitude" class="d-none">
                    <input type="hidden" id="longitude" value="@Model.AdViewModel.Location.Longitude" class="d-none">
                    <div class="map-container">
                        <div id="map" class="square" style="height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <form asp-page-handler="addToFavorites" method="post">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block">Добавить в избранное</button>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <form asp-page-handler="complain" method="post">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-danger btn-block">Пожаловаться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=d8ed85d4-a4d3-4811-895b-20643a517a47&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    var myMap;

    initializeMap(); 
    function initializeMap() {
        ymaps.ready(function () {
            let latitudeValue = parseFloat(document.getElementById('latitude').value.replace(',', '.'));
            let longitudeValue = parseFloat(document.getElementById('longitude').value.replace(',', '.'));
            alert(latitudeValue + ' ' + longitudeValue)

            myMap = new ymaps.Map("map", {
                center: [latitudeValue, longitudeValue],
                zoom: 7
            });

            var myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [latitudeValue, longitudeValue]
                }
            });
            myMap.geoObjects.add(myGeoObject);
        });
    }
</script>

<script>
    let images = [];
    let currentImageIndex = 0;
    
    // Получаем все элементы img с классом img-thumbnail
    let thumbnailImages = document.querySelectorAll('.img-thumbnail');
    
    // Проходимся по каждому элементу и добавляем его src в массив images
    thumbnailImages.forEach(function(image) {
        images.push(image.src);
    });

    function prevImage() {
        if (images.length < 2)
            return;
        if (currentImageIndex > 0) {
            currentImageIndex--;
        } else {
            currentImageIndex = images.length - 1;
        }
        updateImage();
    }

    function nextImage() {
        if (images.length < 2)
            return;
        if (currentImageIndex < images.length - 1) {
            currentImageIndex++;
        } else {
            currentImageIndex = 0;
        }
        updateImage();
    }

    function updateImage() {
        let image = document.getElementById("current-image");
        image.src = images[currentImageIndex];
    }
</script>