@model TheArmory.Domain.Models.Responce.ViewModels.Ad.TileAdViewModel

<a href="@Url.Page("AdInfo", new { id = Model.Id })" class="card-link" style="text-decoration: none; color: black;">
    <div class="card border">
        <div class="image-container">
            @if (Model.Images.Count > 0)
            {
                <img src="@(Model.BaseUrl + '/' + Model.Images.First().LocalPath)" class="card-img-top current-image" alt="Фотография объявления">
            }
            else
            {
                <img src="/Default/Images/Ad/DefoultAdImage.png" class="card-img-top current-image" alt="Фотография объявления">
            }
        </div>
        <div class="card-body p-1">
            <h5 class="card-title fw-bold mb-0">@Model.Name</h5>
            <p class="card-text mb-0"><small class="text-muted">Цена:</small> @Model.Price</p>
            <p class="card-text mb-0"><small class="text-muted">Опубликовано:</small> @Model.CreationDateTime.Date</p>
            <div class="d-flex justify-content-end">
                <div class="d-flex align-items-center">
                    <img src="/Default/Images/Ad/Eye.png" alt="Глаз" class="me-2"/>
                    <p class="card-text mb-0">@Model.CountOfViews</p>
                </div>
                <p class="card-text mb-0 text-success ms-2"><i class="bi bi-arrow-up me-2"></i> @Model.CountOfViewsToday</p>
            </div>
        </div>
    </div>
</a>

