@model TheArmory.Domain.Models.Responce.ViewModels.Ad.TileAdViewModel

<style>
    .card-img-top {
        object-fit: cover;
        height: 150px; 
        width: 100%;
    }
</style>

<a href="@Url.Page("MyAd", new { handler = "Select", id = Model.Id})" class="card-link" style="text-decoration: none; color: black;">
    <div class="card border">
        <div class="image-container">
            @if (Model.Images.Count > 0)
            {
                <img src="@(Model.BaseUrl + '/' + Model.Images.First().LocalPath)" class="card-img-top current-image" alt="Фотография объявления">
            }
            else
            {
                <img src="/Default/Images/Ad/DefoultAdImage.png" class="card-img-top current-image" alt="Фотография объявления">
            }
        </div>
        <div class="card-body p-1">
            <h6 class="card-title fw-bold mb-0">@Model.Name</h6>
            <p class="card-text mb-0"><small class="text-muted">Цена:</small> @Model.Price ₽</p>
            <p class="card-text mb-0"><small class="text-muted">Опубликовано:</small>@Model.CreationDateTime.Date.ToString("dd.MM.yyyy")</p>
            <div class="d-flex justify-content-end">
                <div class="d-flex align-items-center">
                    <i class="bi bi-eye-fill me-2"></i>
                    <p class="card-text mb-0">@Model.CountOfViews</p>
                </div>
                <p class="card-text mb-0 text-success ms-2">@Model.CountOfViewsToday ↑</p>
            </div>
        </div>
    </div>
</a>