@page
@using TheArmory.Domain.Models.Enums
@model MyAd

@{
    ViewData["Title"] = "Настройка";
}

<style>
    .btn-block {
        width: 100%;
    }

    #image-area {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    #image-area img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .image-cell {
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .image-cell img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .marker-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .marker {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -220px;
        display: none;
    }
</style>

@await Html.PartialAsync("ErrorModelWindow", Model.Result)

<div class="container mt-3">
    <div class="row mb-3">
        @if (Model.MyAdViewModel.StatusId.Equals(StateStatus.Actively))
        {
            <div class="col-md-3">
                <form method="post" asp-page-handler="Deactivate">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="bi bi-x-circle"></i> Снять с публикации
                    </button>
                </form>
            </div>
        }
        @if (Model.MyAdViewModel.StatusId.Equals(StateStatus.Inactive))
        {
            <div class="col-md-3">
                <form method="post" asp-page-handler="Activate">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="bi bi-check-circle"></i> Опубликовать
                    </button>
                </form>
            </div>
        }
        <div class="col-md-3">
            <form method="post" asp-page-handler="Delete">
                <button type="submit" class="btn btn-danger btn-block">
                    <i class="bi bi-trash"></i> Удалить
                </button>
            </form>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger btn-block" asp-page="/Account/PersonalInfo">
                <i class="bi bi-box-arrow-left"></i> Отменить и выйти
            </a>
        </div>
    </div>

    <form method="post" asp-page-handler="Update">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Параметры</h2>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label asp-for="UpdateCommand.Name" class="form-label">Наименование:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" asp-for="UpdateCommand.Name" class="form-control" value="@Model.MyAdViewModel.Name" placeholder="Введите наименование" maxlength="255" required="Обязательно к заполнению">
                        <span asp-validation-for="UpdateCommand.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <label asp-for="UpdateCommand.ConditionId" class="form-label">Состояние:</label>
                    </div>
                    <div class="col-md-9">
                        <select asp-for="UpdateCommand.ConditionId" class="form-select" required="Обязательно к заполнению">
                            <option value="@Model.PublishInfoViewModel.Conditions.First(c => c.Id.Equals(Model.MyAdViewModel.ConditionId)).Id">@Model.PublishInfoViewModel.Conditions.First(c => c.Id.Equals(Model.MyAdViewModel.ConditionId)).Name</option>
                            @foreach (var condition in Model.PublishInfoViewModel.Conditions.Where(condition => !condition.Id.Equals(Model.MyAdViewModel.ConditionId)))
                            {
                                <option value="@condition.Id">@condition.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Подробности</h2>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label asp-for="UpdateCommand.Description" class="form-label">Описание:</label>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="UpdateCommand.Description" class="form-control" placeholder="Введите описание" maxlength="2000">@Model.MyAdViewModel.Description</textarea>
                        <span asp-validation-for="UpdateCommand.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label asp-for="UpdateCommand.Price" class="form-label">Цена:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" asp-for="UpdateCommand.Price" class="form-control" value="@Model.MyAdViewModel.Price" placeholder="Введите цену" required="Обязательно к заполнению">
                        <span asp-validation-for="UpdateCommand.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label asp-for="UpdateCommand.CategoryId" class="form-label">Категория:</label>
                    </div>
                    <div class="col-md-9">
                        <select asp-for="UpdateCommand.CategoryId" class="form-select" required="Обязательно к заполнению">
                            <option value="@Model.PublishInfoViewModel.Categories.First(c => c.Id.Equals(Model.MyAdViewModel.CategoryId)).Id">@Model.PublishInfoViewModel.Categories.First(c => c.Id.Equals(Model.MyAdViewModel.CategoryId)).Name</option>
                            @foreach (var category in Model.PublishInfoViewModel.Categories.Where(condition => !condition.Id.Equals(Model.MyAdViewModel.CategoryId)))
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Характеристики</h2>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button type="button" class="btn btn-primary" onclick="showCreateCharacteristicForm()">
                        <i class="bi bi-plus"></i> Добавить характеристику
                    </button>
                </div>
                @if (Model.MyAdViewModel.Characteristics is not null && Model.MyAdViewModel.Characteristics.Any())
                {
                    <form id="deleteСharacteristicForm" method="post" asp-page-handler="DeleteCharacteristic">
                        <input type="hidden" asp-for="DeleteCharacteristicCommand.Id" id="characteristicDeletedInput"/>
                        <div class="container mt-2">
                            @foreach (var characteristic in Model.MyAdViewModel.Characteristics)
                            {
                                <div class="row mt-1">
                                    <div class="col-md-3">
                                        <label>@characteristic.Name:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" readonly value="@characteristic.Description"/>
                                    </div>
                                    <div class="col-md-2 text-end">
                                        <button type="submit" onclick="deleteCharacteristic(`@characteristic.Id`)" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                }
                <form method="post" asp-page-handler="CreateCharacteristic">
                    <div class="container d-none" id="addCreateCharacteristicForm">
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <input type="text" id="CharacteristicNameInput" class="form-control" asp-for="CharacteristicCreateCommand.Name" maxlength="30" placeholder="Название">
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="CharacteristicDescriptionInput" class="form-control" asp-for="CharacteristicCreateCommand.Description" maxlength="100" placeholder="Значение">
                            </div>
                            <div class="col-md-2 text-end">
                                <button id="saveContactButton" type="submit" class="btn btn-success">
                                    <i class="bi bi-check"></i> 
                                </button>
                                <button id="cancelContactButton" type="button" class="btn btn-danger" onclick="cancelCreateCharacteristic()">
                                    <i class="bi bi-x"></i> 
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Изображения</h2>
                <form method="post" asp-page-handler="DeleteMedia">
                    <div class="row mb-3">
                        <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-secondary h-50" onclick="prevImage()">&#60;</button>
                        </div>
                        <div class="col-md-10 text-center">
                            @if (Model.MyAdViewModel.Images.Count > 0)
                            {
                                <input type="hidden" asp-for="DeleteMediaCommand.MediaId" value="@Model.MyAdViewModel.Images.First().Id"/>
                                <div id="image-area" class="position-relative">
                                    <img id="current-image" src="@(Model.BaseUrl + '/' + Model.MyAdViewModel.Images.First().LocalPath)" alt="Image" class="img-fluid">
                                </div>
                            }
                            else
                            {
                                <div id="image-area" class="position-relative">
                                    <img id="current-image" src="/Default/Images/Ad/DefoultAdImage.png" alt="Image" class="img-fluid">
                                </div>
                            }
                        </div>
                        <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-secondary h-50" onclick="nextImage()">&#62;</button>
                        </div>
                    </div>

                    @if (Model.MyAdViewModel.Images.Count > 0)
                    {
                        <div class="row mb-3">
                            <button type="submit" class="btn btn-danger btn-block">
                                <i class="bi bi-trash"></i> Удалить
                            </button>
                        </div>
                    }
                </form>

                <div id="thumbnails-container" class="row mb-3">
                    @foreach (var image in Model.MyAdViewModel.Images)
                    {
                        <div class="col-md-2 text-center image-cell position-relative">
                            <img src="@(Model.BaseUrl + '/' + image.LocalPath)" class="img-thumbnail img-fluid" alt=""/>
                        </div>
                    }
                </div>

                <form method="post" enctype="multipart/form-data" asp-page-handler="AddMedia">
                    <div class="row mb-3">
                        <input type="file" id="file-input" asp-for="AddMediaCommand.Photo" accept="image/*" multiple="multiple" style="display: none;">
                        <div class="col-md-12">
                            <button type="button" id="add-photo-btn" class="btn btn-primary btn-block" onclick="document.getElementById('file-input').click();">
                                <i class="bi bi-plus-lg"></i> Добавить
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" id="save-photo-btn" class="btn btn-primary btn-block" style="display: none;">
                                <i class="bi bi-save"></i> Сохранить
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" id="cancel-photo-btn" class="btn btn-danger btn-block" style="display: none;" onclick="removeImage(currentImageIndex);">
                                <i class="bi bi-x-lg"></i> Отмена
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Видео</h2>
                <form method="post" asp-page-handler="ChangeVideo">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="form-label">Ссылка на YouTube видео с обзором:</label>
                        </div>
                        <div class="col-md-9">
                            <input id="youtubeVideoLink" asp-for="ChangeYouTubeLinkCommand.YouTubeLink" type="text" value="@Model.MyAdViewModel.YouTubeLink" class="form-control" placeholder="Введите ссылку на YouTube видео">
                            <span class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(@Model.MyAdViewModel.YouTubeLink))
                            {
                                var videoId = Model.MyAdViewModel.YouTubeLink.Split('/').Last().Split('?')[0];
                                <div id="youtubeVideo" class="row mt-3">
                                    <iframe id="videoFrame" width="560" height="315" src="https://www.youtube.com/embed/@videoId" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            }
                            else
                            {
                                <div id="youtubeVideo" class="row mt-3" style="display: none;">
                                    <iframe id="videoFrame" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row" id="save-video-btn" style="display: none;">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="bi bi-save"></i> Сохранить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Место сделки</h2>
                <form method="post" asp-page-handler="ChangeLocation">
                    <div class="row mb-3">
                        <p class="text-muted">(Добавьте данный параметр он поможет привлечь заинтересованных покупателей)</p>
                        <p id="address" class="text-muted"></p>
                        <div class="col-md-12 mb-3">
                            <button type="button" onclick="showMap()" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#mapCollapse" aria-expanded="false" aria-controls="mapCollapse">
                                <i class="bi bi-map"></i> Показать карту
                            </button>
                            <button type="button" id="change-location-btn" class="btn btn-primary" style="display: none;" onclick="changeLocation()">
                                <i class="bi bi-geo-alt"></i> Изменить место сделки
                            </button>
                        </div>
                    </div>

                    <div class="collapse" id="mapCollapse">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <input type="text" id="addressInfo" asp-for="LocationCommand.Address" value="@(Model.MyAdViewModel.Location?.Address ?? "")" class="form-control" placeholder="Адрес" readonly="">
                                <input type="hidden" id="latitude" asp-for="LocationCommand.Latitude" value="@Model.MyAdViewModel.Location?.Latitude" class="d-none">
                                <input type="hidden" id="longitude" asp-for="LocationCommand.Longitude" value="@Model.MyAdViewModel.Location?.Longitude" class="d-none">
                                <div class="map-container mt-3">
                                    <div id="map" class="square" style="height: 400px"></div>
                                    <div class="marker-container">
                                        <img id="map-marker" src="/icons/map_marker.png" class="marker" alt="" style="display: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="bi bi-save"></i> Сохранить изменения
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-danger btn-block" asp-page="/Account/PersonalInfo">
                <i class="bi bi-x-lg"></i> Отменить и выйти
            </a>
        </div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=d8ed85d4-a4d3-4811-895b-20643a517a47&lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
    var latitude = parseFloat(document.getElementById('latitude').value.replace(',', '.'));
    var longitude = parseFloat(document.getElementById('longitude').value.replace(',', '.'));
    var myMap;
    var myGeoObject;

    document.addEventListener("DOMContentLoaded", function() {
        if (!isNaN(latitude) && !isNaN(longitude)) {
            initializeMap(latitude, longitude);
        } else if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;
                    initializeMap(latitude, longitude);
                    console.log("Latitude: " + latitude + ", Longitude: " + longitude);
                },
                (error) => {
                    console.error("Ошибка при получении геопозиции:", error);
                }
            );
        } else {
            console.error("Геолокация недоступна");
        }
    });

    function initializeMap(lat, lon) {
        ymaps.ready(function () {
            myMap = new ymaps.Map("map", {
                center: [lat, lon],
                zoom: 7
            });

            myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [lat, lon]
                }
            });

            myMap.geoObjects.add(myGeoObject);

            myMap.events.add('boundschange', function (event) {
                if (document.getElementById('map-marker').style.display !== 'block') return;
                
                var newCenter = event.get('newCenter');
                latitude = newCenter[0];
                longitude = newCenter[1];

                document.getElementById('latitude').value = latitude;
                document.getElementById('longitude').value = longitude;

                ymaps.geocode([latitude, longitude]).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    document.getElementById('addressInfo').value = firstGeoObject.getAddressLine();
                });
            });
        });
    }

    function changeLocation() {
        document.getElementById('map-marker').style.display = 'block'; // Показать кастомный маркер
        myMap.geoObjects.removeAll(); // Удалить текущий маркер
        myMap.setCenter([latitude, longitude], 14, { // Переместить карту на текущую геолокацию пользователя
            checkZoomRange: true
        });
    }

    function showMap() {
        document.getElementById('mapCollapse').classList.add('show');
        document.getElementById('change-location-btn').style.display = 'inline-block';
    }
</script>

<script>
    let images = [];
    let newImage = null;
    let currentImageIndex = 0;

    document.addEventListener('DOMContentLoaded', (event) => {
        let thumbnailImages = document.querySelectorAll('.img-thumbnail');

        thumbnailImages.forEach(function(image) {
            images.push(image.src);
        });

        updateImage(); // Обновление изображения при загрузке страницы

        document.getElementById('add-photo-btn').addEventListener('click', function() {
            document.getElementById('file-input').click();
        });

        document.getElementById('file-input').addEventListener('change', handleFileSelect, false);

        document.querySelector('.btn-danger').addEventListener('click', function () {
            removeImage(currentImageIndex);
        });
    });

    function prevImage() {
        if (images.length < 2) return;
        if (currentImageIndex > 0) {
            currentImageIndex--;
        } else {
            currentImageIndex = images.length - 1;
        }
        updateImage();
    }
    
    function nextImage() {
        if (images.length < 2) return;
        if (currentImageIndex < images.length - 1) {
            currentImageIndex++;
        } else {
            currentImageIndex = 0;
        }
        updateImage();
    }
    
    function updateImage() {
        let image = document.getElementById("current-image");
        if (images.length > 0) {
            image.src = images[currentImageIndex];
        } else {
            image.src = '/Default/Images/Ad/DefoultAdImage.png'; // Путь по умолчанию, если нет изображений
        }
    }

    function handleFileSelect(event) {
        if (newImage != null) {
            alert("Для начала определитесь с текущим изображением");    
            return;
        }
        
        if (images.length >= 5) { 
            alert("Вы уже добавили максимальное количество изображений.");
            return;
        }

        let files = event.target.files;
        let thumbnailsContainer = document.getElementById('thumbnails-container');

        if (files.length > 0) { 
            let reader = new FileReader();
            reader.onload = function (e) {
                let arrayBuffer = e.target.result;

                let thumbnailContainer = document.createElement('div');
                thumbnailContainer.className = 'col-md-2 text-center image-cell position-relative';
                let thumbnail = document.createElement('img');
                thumbnail.className = 'img-thumbnail img-fluid';

                let image = document.getElementById("current-image");
                let blob = new Blob([new Uint8Array(arrayBuffer)], { type: 'image/jpeg' });
                image.src = URL.createObjectURL(blob);
                newImage = URL.createObjectURL(blob);
                thumbnail.src = URL.createObjectURL(blob);

                thumbnailContainer.appendChild(thumbnail);
                thumbnailsContainer.appendChild(thumbnailContainer);

                images.push(newImage);
                currentImageIndex = images.length - 1;
                updateImage();

                if (images.length === 5) {
                    document.querySelectorAll('.image-controls').forEach(function (element) {
                        element.style.display = 'flex';
                    });
                }
            };
            reader.readAsArrayBuffer(files[0]);
        }
        document.getElementById('add-photo-btn').style.display = 'none';
        document.getElementById('save-photo-btn').style.display = 'inline-block';
        document.getElementById('cancel-photo-btn').style.display = 'inline-block';
    }

    function removeImage(index) {
        if (index >= 0 && index < images.length) {
            images.splice(index, 1);
            let thumbnailsContainer = document.getElementById('thumbnails-container');
            thumbnailsContainer.removeChild(thumbnailsContainer.childNodes[index]);
            if (currentImageIndex >= images.length) {
                currentImageIndex = images.length - 1;
            }
            updateImage();

            if (images.length < 5) {
                document.querySelectorAll('.image-controls').forEach(function (element) {
                    element.style.display = 'none';
                });
            }
            newImage = null;
            document.getElementById('file-input').value = "";
            document.getElementById('save-photo-btn').style.display = 'none';
            document.getElementById('cancel-photo-btn').style.display = 'none';
        }
    }

    function showCreateCharacteristicForm() {
        document.getElementById('addCreateCharacteristicForm').classList.remove("d-none");
    }
    
    function cancelCreateCharacteristic() {
        document.getElementById("CharacteristicNameInput").value = "";
        document.getElementById("CharacteristicDescriptionInput").value = "";
        document.getElementById('addCreateCharacteristicForm').classList.add("d-none");
    }
    
    function saveCharacteristic() {
        cancelCreateCharacteristic();
    }

    function deleteCharacteristic(characteristicId) {
        var input = document.getElementById('characteristicDeletedInput');
        input.value = characteristicId;
    }

    const youtubeLinkInput = document.getElementById('youtubeVideoLink');
    const videoFrame = document.getElementById('videoFrame');
    const saveVideoBtn = document.getElementById('save-video-btn');

    let originalYoutubeLink = youtubeLinkInput.value.trim();

    youtubeLinkInput.addEventListener('input', function() {
        let youtubeLink = youtubeLinkInput.value.trim();
        if (youtubeLink === '') {
            document.getElementById('youtubeVideo').style.display = 'none';
            videoFrame.src = '';
            saveVideoBtn.style.display = 'none';
            return;
        }

        let youtubeRegExp = /^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/;

        if (youtubeRegExp.test(youtubeLink) && youtubeLink !== originalYoutubeLink) {
            document.getElementById('youtubeVideo').style.display = 'block';
            saveVideoBtn.style.display = 'block';
            let videoId = getYoutubeVideoId(youtubeLink);
            if (videoId) {
                let embedUrl = `https://www.youtube.com/embed/${videoId}`;
                videoFrame.setAttribute('src', embedUrl);
            } else {
                console.error('Не удалось извлечь идентификатор видео из ссылки.');
                document.getElementById('youtubeVideo').style.display = 'none';
                videoFrame.src = '';
                saveVideoBtn.style.display = 'none';
            }
        } else {
            console.error('Введенная ссылка не соответствует формату ссылки на видео YouTube.');
            document.getElementById('youtubeVideo').style.display = 'none';
            videoFrame.src = '';
            saveVideoBtn.style.display = 'none';
        }
    });

    function getYoutubeVideoId(url) {
        let videoId = '';
        let regExp = /^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/(.+)$/;
        if (regExp.test(url)) {
            let match = url.match(regExp);
            if (match && match[3]) {
                videoId = match[3];
            }
        }
        return videoId;
    }
</script>
