@page
@using TheArmory.Domain.Models.Enums
@model MyAd

@{
    ViewData["Title"] = "Настройка";
}

<style>
    .btn-block {
        width: 100%;
    }
    
    #image-area {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    
    #image-area img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    .image-cell {
        width: 100px;
        height: 100px; 
        overflow: hidden; 
        display: flex;
        align-items: center; 
        justify-content: center; 
        margin: 0; 
    }
    
    .image-cell img {
        max-width: 100%; 
        max-height: 100%; 
        width: auto; 
        height: auto; 
    }
            
    .marker-container {
        position: relative; 
        width: 100%; 
        height: 100%; 
    }
    
    .marker {
        position: absolute; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -220px;
    }
        
</style>

@await Html.PartialAsync("ErrorModelWindow", Model.Result)

<div class="row mt-3">
    @if (Model.MyAdViewModel.StatusId.Equals(StateStatus.Actively))
    {
        <div class="col">
            <form method="post" asp-page-handler="Deactivate">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="bi bi-x-circle"></i> Снять с публикации
                </button>
            </form>
        </div>
    }
    @if (Model.MyAdViewModel.StatusId.Equals(StateStatus.Inactive))
    {
        <div class="col">
            <form method="post" asp-page-handler="Activate">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="bi bi-check-circle"></i> Опубликовать
                </button>
            </form>
        </div>
    }
    <div class="col">
        <form method="post" asp-page-handler="Delete">
            <button type="submit" class="btn btn-danger btn-block">
                <i class="bi bi-trash"></i> Удалить
            </button>
        </form>
    </div>
    <div class="col">
        <a class="btn btn-danger btn-block" asp-page="/Account/PersonalInfo">
            <i class="bi bi-box-arrow-left"></i> Отменить и выйти
        </a>
    </div>
</div>

<div class="row mt-3">
<div class="col-md-12">
<form method="post" asp-page-handler="Update">
    <div class="row">

        <h1>Параметры</h1>
        <div class="row mt-3">
            <div class="col-3">
                <label asp-for="UpdateCommand.Name" class="form-label">Наименование:</label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="UpdateCommand.Name" class="form-control" value="@Model.MyAdViewModel.Name" placeholder="Введите наименование" maxlength="255" required="Обязательно к заполнению">
                <span asp-validation-for="UpdateCommand.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3">
                <label asp-for="UpdateCommand.ConditionId" class="form-label">Состояние:</label>
            </div>
            <div class="col-9">
                <select asp-for="UpdateCommand.ConditionId" class="form-select" required="Обязательно к заполнению">
                    <option value="@Model.PublishInfoViewModel.Conditions.First(c => c.Id.Equals(Model.MyAdViewModel.ConditionId)).Id">@Model.PublishInfoViewModel.Conditions.First(c => c.Id.Equals(Model.MyAdViewModel.ConditionId)).Name</option>
                    @foreach (var condition in Model.PublishInfoViewModel.Conditions.Where(condition => !condition.Id.Equals(Model.MyAdViewModel.ConditionId)))
                    {
                        <option value="@condition.Id">@condition.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>Подробности</h1>
        <div class="row mt-3">
            <div class="col-3">
                <label asp-for="UpdateCommand.Description" class="form-label">Описание:</label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="UpdateCommand.Description" value="@Model.MyAdViewModel.Description" class="form-control" placeholder="Введите описание" oninput="autoResize(this)" maxlength="2000"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <label asp-for="UpdateCommand.Price" class="form-label">Цена:</label>
            </div>
            <div class="col-9">
                <input type="number" asp-for="UpdateCommand.Price" class="form-control" value="@Model.MyAdViewModel.Price" placeholder="Введите цену" oninput="validatePrice(this)" required="Обязательно к заполнению">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <label asp-for="UpdateCommand.CategoryId" class="form-label">Категория:</label>
            </div>
            <div class="col-9">
                <select asp-for="UpdateCommand.CategoryId" id="categorySelect" class="form-select" required="Обязательно к заполнению">
                    <option value="@Model.PublishInfoViewModel.Categories.First(c => c.Id.Equals(Model.MyAdViewModel.CategoryId)).Id">@Model.PublishInfoViewModel.Categories.First(c => c.Id.Equals(Model.MyAdViewModel.CategoryId)).Name</option>
                    @foreach (var category in Model.PublishInfoViewModel.Categories.Where(condition => !condition.Id.Equals(Model.MyAdViewModel.CategoryId)))
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="bi bi-save"></i> Сохранить изменения
            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="row mt-3">
        <div class="col">
            <h1>Характеристики</h1>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="showCreateCharacteristicForm()">
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </div>

    @if (Model.MyAdViewModel.Characteristics is not null && Model.MyAdViewModel.Characteristics.Any())
    {
        <form id="deleteСharacteristicForm" method="post" asp-page-handler="DeleteCharacteristic">
            <input type="hidden" asp-for="DeleteCharacteristicCommand.Id" id="characteristicDeletedInput"/>
            <div class="container mt-2">
                @foreach (var characteristic in Model.MyAdViewModel.Characteristics)
                {
                    <div class="row mt-1">
                        <div class="col-3">
                            <label>@characteristic.Name:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" readonly value="@characteristic.Description"/>
                        </div>
                        <div class="col-auto ms-auto">
                            <button type="submit" onclick="deleteCharacteristic(`@characteristic.Id`)" class="btn btn-secondary">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </form>
    }
    <form method="post" asp-page-handler="CreateCharacteristic">
        <div class="container d-none" id="addCreateCharacteristicForm">
            <div class="row mt-3">
                <div class="col-md-3">
                    <input type="text" id="CharacteristicNameInput" class="form-control" asp-for="CharacteristicCreateCommand.Name" placeholder="Название">
                </div>
                <div class="col-md-7">
                    <input type="text" id="CharacteristicDescriptionInput" class="form-control" asp-for="CharacteristicCreateCommand.Description" placeholder="Значение">
                </div>
                <div class="col-auto">
                    <button id="saveContactButton" type="submit" class="btn btn-success">
                        <i class="bi bi-check"></i> 
                    </button>
                    <button id="cancelContactButton" type="button" class="btn btn-danger" onclick="cancelCreateCharacteristic()">
                        <i class="bi bi-x"></i> 
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <form method="post" asp-page-handler="DeleteMedia">
        <div class="row mt-3">
            <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-secondary h-50" onclick="prevImage()">&#60;</button>
            </div>
            <div class="col-md-10 text-center">
                @if (Model.MyAdViewModel.Images.Count > 0)
                {
                    <input type="hidden" asp-for="DeleteMediaCommand.MediaId" value="@Model.MyAdViewModel.Images.First().Id"/>
                    <div id="image-area" class="position-relative">
                        <img id="current-image" src="@(Model.BaseUrl + '/' + Model.MyAdViewModel.Images.First().LocalPath)" alt="Image" class="img-fluid">
                    </div>
                }
                else
                {
                    <div id="image-area" class="position-relative">
                        <img id="current-image" src="/Default/Images/Ad/DefoultAdImage.png" alt="Image" class="img-fluid">
                    </div>
                }
            </div>
            <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-secondary h-50" onclick="nextImage()">&#62;</button>
            </div>
        </div>

        @if (Model.MyAdViewModel.Images.Count > 0)
        {
            <div class="row mt-3">
                <button type="submit" class="btn btn-danger btn-block">
                    <i class="bi bi-trash"></i> Удалить
                </button>
            </div>
        }
    </form>

    <!-- Контейнер для ячеек с изображениями -->
    <div id="thumbnails-container" class="row mt-3">
        @foreach (var image in Model.MyAdViewModel.Images) // Пропускаем первое изображение, так как оно уже отображено в основном блоке
        {
            <div class="col-md text-center image-cell position-relative">
                <img src="@(Model.BaseUrl + '/' + image.LocalPath)" class="img-thumbnail img-fluid " alt=""/>
            </div>
        }
    </div>

    <form method="post" enctype="multipart/form-data" asp-page-handler="AddMedia">
        <div class="row mt-3">
            <input type="file" id="file-input" asp-for="AddMediaCommand.Photo" accept="image/*" multiple="multiple" style="display: none;">
            <div class="row">
                <div class="col">
                    <button type="button" id="add-photo-btn" class="btn btn-primary btn-block">
                        <i class="bi bi-plus-lg"></i> Добавить
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" id="save-photo-btn" class="btn btn-primary btn-block" style="display: none;">
                        <i class="bi bi-save"></i> Сохранить
                    </button>
                </div>
                <div class="col">
                    <button type="button" id="cancel-photo-btn" class="btn btn-danger btn-block" style="display: none;">
                        <i class="bi bi-x-lg"></i> Отмена
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <h1>Видео</h1>
    <form method="post" asp-page-handler="ChangeVideo">
        <div class="row mt-3">
            <div class="col-3">
                <label class="form-label">Ссылка на YouTube видео с обзором:</label>
            </div>
            <div class="col-9">
                <div class="row">
                    <input id="youtubeVideoLink" asp-for="ChangeYouTubeLinkCommand.YouTubeLink" type="text" value="@Model.MyAdViewModel.YouTubeLink" class="form-control" placeholder="Введите ссылку на YouTube видео">
                    <span class="text-danger"></span>
                </div>
                @if (!string.IsNullOrEmpty(@Model.MyAdViewModel.YouTubeLink))
                {
                    var videoId = Model.MyAdViewModel.YouTubeLink.Split('/').Last().Split('?')[0];
                    <div id="youtubeVideo" class="row mt-3">
                        <iframe id="videoFrame" width="560" height="315" src="https://www.youtube.com/embed/@videoId" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    <div id="youtubeVideo" class="row mt-3" style="display: none;">
                        <iframe id="videoFrame" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                
            </div>
        </div>
        <div class="row mt-3" id="save-video-btn" style="display: none;">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="bi bi-save"></i> Сохранить
            </button>
        </div>
    </form>
</div>


<div class="row address-container">
        <form method="post" asp-page-handler="ChangeLocation">
            <div class="row">
                <h1>Место сделки</h1>
                <p class="text-muted">(Добавьте данный параметр он поможет привлечь заинтересованных покупателей)</p>
                <p id="address" class="text-muted"></p>
                <div class="row mt-3">
                    <div class="col">
                        <button type="button" onclick="changeNavigation()" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#mapCollapse" aria-expanded="false" aria-controls="mapCollapse">
                            <i class="bi bi-map"></i> Показать карту
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="collapse" id="mapCollapse">
                <div class="row mt-3">
                    <div class="col">
                        <input type="text" id="addressInfo" asp-for="LocationCommand.Address" value="@(Model.MyAdViewModel.Location?.Address ?? "")" class="form-control" placeholder="Адрес" readonly="">
                        <input type="hidden" id="latitude" asp-for="LocationCommand.Latitude"  value="@Model.MyAdViewModel.Location?.Latitude" class="d-none">
                        <input type="hidden" id="longitude" asp-for="LocationCommand.Longitude" value="@Model.MyAdViewModel.Location?.Longitude" class="d-none">
                        <div class="map-container">
                            <div id="map" class="square" style="height: 400px"></div>
                            <div class="marker-container">
                                <img src="/icons/map_marker.png" class="marker" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Сохранить изменения
                </button>
            </div>
        </form>
</div>


<div class="row mt-3">
    <div class="col-3">
        <a class="btn btn-danger btn-block" asp-page="/Account/PersonalInfo">
            <i class="bi bi-x-lg"></i> Отменить и выйти
        </a>
    </div>
</div>
</div>
</div>


<script src="https://api-maps.yandex.ru/2.1/?apikey=d8ed85d4-a4d3-4811-895b-20643a517a47&lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
    var latitude = 60;
    var longitude = 60;
    var myMap;

    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(
            (position) => {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
                console.log("Latitude: " + latitude + ", Longitude: " + longitude);
                initializeMap(latitude, longitude); 
            },
            (error) => {
                console.error("Ошибка при получении геопозиции:", error);
                initializeMap(latitude, longitude); // Инициализация карты с дефолтными значениями
            }
        );
    } else {
        console.error("Геолокация недоступна");
        initializeMap(latitude, longitude); // Инициализация карты с дефолтными значениями
    }

    function initializeMap(lat, lon) {
        ymaps.ready(function () {
            let latitudeValue = parseFloat(document.getElementById('latitude').value.replace(',', '.'));
            let longitudeValue = parseFloat(document.getElementById('longitude').value.replace(',', '.'));
            
            if (!isNaN(latitudeValue) && !isNaN(longitudeValue)) {
                lat = latitudeValue;
                lon = longitudeValue;
            }

            myMap = new ymaps.Map("map", {
                center: [lat, lon],
                zoom: 7
            });

            var myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [lat, lon]
                }
            });

            myMap.geoObjects.add(myGeoObject);

            myMap.events.add('boundschange', function (event) {
                var newCenter = event.get('newCenter');
                latitude = newCenter[0];
                longitude = newCenter[1];

                let latitudeInfo = document.getElementById('latitude');
                latitudeInfo.value = latitude;
                let longitudeInfo = document.getElementById('longitude');
                longitudeInfo.value = longitude;

                ymaps.geocode(myGeoObject.geometry.getCoordinates()).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    let address = document.getElementById('addressInfo');
                    address.value = firstGeoObject.getAddressLine();
                });
            });
        });
    }

    function changeNavigation() {
        ymaps.ready(function () {
            var myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [latitude, longitude]
                },
                options: {
                    draggable: true // Сделать маркер перетаскиваемым
                }
            });

            myMap.geoObjects.removeAll();
            myMap.geoObjects.add(myGeoObject);

            myGeoObject.events.add('dragend', function (e) {
                var newCoords = e.get('target').geometry.getCoordinates();
                latitude = newCoords[0];
                longitude = newCoords[1];

                let latitudeInfo = document.getElementById('latitude');
                latitudeInfo.value = latitude;
                let longitudeInfo = document.getElementById('longitude');
                longitudeInfo.value = longitude;

                ymaps.geocode(newCoords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    let address = document.getElementById('addressInfo');
                    address.value = firstGeoObject.getAddressLine();
                });
            });
        });
    }
</script>



<script>
    let images = [];
    let newImage = null;
    let currentImageIndex = 0;

    document.addEventListener('DOMContentLoaded', (event) => {
        let thumbnailImages = document.querySelectorAll('.img-thumbnail');

        thumbnailImages.forEach(function(image) {
            images.push(image.src);
        });

        updateImage(); // Обновление изображения при загрузке страницы

        document.getElementById('add-photo-btn').addEventListener('click', function() {
            document.getElementById('file-input').click();
        });

        document.getElementById('file-input').addEventListener('change', handleFileSelect, false);

        document.querySelector('.btn-danger').addEventListener('click', function () {
            removeImage(currentImageIndex);
        });
    });

    function autoResize(textarea) {
        textarea.style.height = 'auto'; 
        textarea.style.height = (textarea.scrollHeight) + 'px'; 
    }
    
    function validatePrice(input) {
        input.value = input.value.replace(/[^0-9.]/g, ''); 
        let countDots = (input.value.match(/\./g) || []).length;
        if (countDots > 1) { 
            input.value = input.value.replace(/\./g, '');
        }
    }

    function prevImage() {
        if (images.length < 2) return;
        if (currentImageIndex > 0) {
            currentImageIndex--;
        } else {
            currentImageIndex = images.length - 1;
        }
        updateImage();
    }
    
    function nextImage() {
        if (images.length < 2) return;
        if (currentImageIndex < images.length - 1) {
            currentImageIndex++;
        } else {
            currentImageIndex = 0;
        }
        updateImage();
    }
    
    function updateImage() {
        let image = document.getElementById("current-image");
        if (images.length > 0) {
            image.src = images[currentImageIndex];
        } else {
            image.src = '/Default/Images/Ad/DefoultAdImage.png'; // Путь по умолчанию, если нет изображений
        }
    }

    function handleFileSelect(event) {
        if (newImage != null) {
            alert("Для начала определитесь с текущим изображением");    
            return;
        }
        
        if (images.length >= 5) { 
            alert("Вы уже добавили максимальное количество изображений.");
            return;
        }

        let files = event.target.files;
        let thumbnailsContainer = document.getElementById('thumbnails-container');

        if (files.length > 0) { 
            let reader = new FileReader();
            reader.onload = function (e) {
                let arrayBuffer = e.target.result;

                let thumbnailContainer = document.createElement('div');
                thumbnailContainer.className = 'col-md text-center image-cell position-relative';
                let thumbnail = document.createElement('img');
                thumbnail.className = 'img-thumbnail img-fluid';

                let image = document.getElementById("current-image");
                let blob = new Blob([new Uint8Array(arrayBuffer)], { type: 'image/jpeg' });
                image.src = URL.createObjectURL(blob);
                newImage = URL.createObjectURL(blob);
                thumbnail.src = URL.createObjectURL(blob);

                thumbnailContainer.appendChild(thumbnail);
                thumbnailsContainer.appendChild(thumbnailContainer);

                images.push(newImage);
                currentImageIndex = images.length - 1;
                updateImage();

                if (images.length === 5) {
                    document.querySelectorAll('.image-controls').forEach(function (element) {
                        element.style.display = 'flex';
                    });
                }
            };
            reader.readAsArrayBuffer(files[0]);
        }
        document.getElementById('add-photo-btn').style.display = 'none';
        document.getElementById('save-photo-btn').style.display = 'inline-block';
        document.getElementById('cancel-photo-btn').style.display = 'inline-block';
    }

    function removeImage(index) {
        if (index >= 0 && index < images.length) {
            images.splice(index, 1);
            let thumbnailsContainer = document.getElementById('thumbnails-container');
            thumbnailsContainer.removeChild(thumbnailsContainer.childNodes[index]);
            if (currentImageIndex >= images.length) {
                currentImageIndex = images.length - 1;
            }
            updateImage();

            if (images.length < 5) {
                document.querySelectorAll('.image-controls').forEach(function (element) {
                    element.style.display = 'none';
                });
            }
            newImage = null;
            document.getElementById('file-input').value = "";
            document.getElementById('save-photo-btn').style.display = 'none';
            document.getElementById('cancel-photo-btn').style.display = 'none';
        }
    }

    function showCreateCharacteristicForm() {
        document.getElementById('addCreateCharacteristicForm').classList.remove("d-none");
    }
    
    function cancelCreateCharacteristic() {
        document.getElementById("CharacteristicNameInput").value = "";
        document.getElementById("CharacteristicDescriptionInput").value = "";
        document.getElementById('addCreateCharacteristicForm').classList.add("d-none");
    }
    
    function saveCharacteristic() {
        cancelCreateCharacteristic();
    }

    function deleteCharacteristic(characteristicId) {
        var input = document.getElementById('characteristicDeletedInput');
        input.value = characteristicId;
    }
    
    const youtubeLinkInput = document.getElementById('youtubeVideoLink');
    const videoFrame = document.getElementById('videoFrame');
    const saveVideoBtn = document.getElementById('save-video-btn');

    let originalYoutubeLink = youtubeLinkInput.value.trim();

    youtubeLinkInput.addEventListener('input', function() {
        let youtubeLink = youtubeLinkInput.value.trim();
        if (youtubeLink === '') {
            document.getElementById('youtubeVideo').style.display = 'none';
            videoFrame.src = '';
            saveVideoBtn.style.display = 'none';
            return;
        }

        let youtubeRegExp = /^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/;

        if (youtubeRegExp.test(youtubeLink) && youtubeLink !== originalYoutubeLink) {
            document.getElementById('youtubeVideo').style.display = 'block';
            saveVideoBtn.style.display = 'block';
            let videoId = getYoutubeVideoId(youtubeLink);
            if (videoId) {
                let embedUrl = `https://www.youtube.com/embed/${videoId}`;
                videoFrame.setAttribute('src', embedUrl);
            } else {
                console.error('Не удалось извлечь идентификатор видео из ссылки.');
                document.getElementById('youtubeVideo').style.display = 'none';
                videoFrame.src = '';
                saveVideoBtn.style.display = 'none';
            }
        } else {
            console.error('Введенная ссылка не соответствует формату ссылки на видео YouTube.');
            document.getElementById('youtubeVideo').style.display = 'none';
            videoFrame.src = '';
            saveVideoBtn.style.display = 'none';
        }
    });

    function getYoutubeVideoId(url) {
        let videoId = '';
        let regExp = /^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/(.+)$/;
        if (regExp.test(url)) {
            let match = url.match(regExp);
            if (match && match[3]) {
                videoId = match[3];
            }
        }
        return videoId;
    }
</script>


