@page
@model PersonalInfo

@{
    ViewData["Title"] = "Персональная информация";
}

<style>
    .square-container {
        position: relative;
        width: 100%;
        padding-top: 100%; /* Высота контейнера равна его ширине, создавая квадрат */
        overflow: hidden;
    }
    
    .square-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Сохраняет пропорции и обрезает изображение */
    }

</style>

@await Html.PartialAsync("ErrorModelWindow", Model.Result)

<div class="row">
    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <!-- Фото профиля -->
                <div class="col-3">
                    <form method="post" enctype="multipart/form-data" id="changePhotoForm" asp-page-handler="ChangePhoto">
                        <div class="row">
                            @if (!string.IsNullOrEmpty(@Model.UserInfo.PhotoName))
                            {
                                <div class="square-container">
                                    <img id="profile-photo" src="@(Model.BaseUrl + '/' + Model.UserInfo.PhotoName)" alt="Фото профиля" class="img-fluid rounded-circle square-image">
                                </div>
                            }
                            else
                            {
                                <div class="square-container">
                                    <img id="profile-photo" src="/Default/Images/Person/DefoultPersonImage.png" alt="Фото профиля" class="img-fluid rounded-circle square-image">
                                </div>
                            }
                        </div>
                        <div class="row mt-2">

                            <input type="file" id="file-input" asp-for="ChangeProfilePhotoCommand.Photo" accept="image/*" multiple="multiple" style="display: none;">
                            <button type="submit" id="save-photo-btn" class="btn btn-primary my-1" style="display: none;">Сохранить</button>
                            <button type="button" id="cancel-photo-btn" class="btn btn-danger" style="display: none;">Отмена</button>
                        </div>
                    </form>
                </div>

                <!-- Информация о пользователе -->
                <div class="col-md-9">
                    <h4>Ваши данные</h4>
                    <form method="post" asp-page-handler="ChangeName">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <h5>Имя</h5>
                                </div>
                                <div class="col">
                                    <span id="nameText">@Model.UserInfo.Name</span>
                                    <input type="text" id="nameInput" class="form-control d-none" asp-for="ChangeNameCommand.NewName">
                                </div>
                                <div class="col-auto">
                                    <button id="editButton" type="button" class="btn btn-secondary" onclick="editName()">
                                        <img src="/icons/edit_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                    </button>
                                    <button id="saveButton" type="submit" class="btn btn-success d-none" onclick="saveName()">
                                        <img src="/icons/tick_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                    </button>
                                    <button id="cancelButton" type="button" class="btn btn-danger d-none" onclick="cancelEdit()">
                                        <img src="/icons/cross_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row mt-3">
                        <div class="col">
                            <h4>Контакты для связи</h4>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" onclick="showAddContactForm()">Добавить</button>
                        </div>
                    </div>
                    @if (Model.UserInfo.Contacts.Any())
                    {
                        <div class="container">
                            @foreach (var contact in Model.UserInfo.Contacts)
                            {
                                <div class="row align-items-center mt-3">
                                    <div class="col-2">
                                        <h5>@contact.Name</h5>
                                    </div>
                                    <div class="col">
                                        <span >@contact.Description</span>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-secondary" onclick="editName()">
                                            <img src="/icons/edit_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                        </button>
                                        <button type="submit" class="btn btn-success d-none" onclick="saveName()">
                                            <img src="/icons/tick_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                        </button>
                                        <button type="button" class="btn btn-danger d-none" onclick="cancelEdit()">
                                            <img src="/icons/cross_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <form method="post" asp-page-handler="CreateContact">
                        <div class="container mt-3 d-none" id="addContactForm">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <input type="text" id="ContactNameInput" class="form-control" asp-for="ContactCreateCommand.Name" placeholder="Название сервиса">
                                </div>
                                <div class="col">
                                    <input type="text" id="ContactDescriptionInput" class="form-control" asp-for="ContactCreateCommand.Description" placeholder="Ваши реквизиты">
                                </div>
                                <div class="col-auto">
                                    <button id="saveContactButton" type="submit" class="btn btn-success">
                                        <img src="/icons/tick_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                    </button>
                                    <button id="cancelContactButton" type="button" class="btn btn-danger" onclick="cancelAddContact()">
                                        <img src="/icons/cross_icon.png" alt="Edit Icon" style="max-width: 16px; max-height: 16px;">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="row mt-3">
                        <div class="row">
                            <label for="registrationDateTime">На площадке с @Model.UserInfo.RegistrationDateTime</label>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Типы объявлений -->
<div class="row mt-3">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">Активные</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="inactive-tab" data-bs-toggle="tab" data-bs-target="#inactive" type="button" role="tab" aria-controls="inactive" aria-selected="false">Неактивные</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="banned-tab" data-bs-toggle="tab" data-bs-target="#banned" type="button" role="tab" aria-controls="banned" aria-selected="false">В бане</button>
            </li>
        </ul>
    </div>
</div>


<!-- Контент для каждого типа объявлений -->
<div class="row mt-3">
    <div class="col-md-12">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
                <!-- Плитки с активными объявлениями -->
                <div class="row">
                    @if (Model.ActiveAdsQueryResult.Items is not null && Model.ActiveAdsQueryResult.Items.Any())
                    {
                        @foreach (var ad in Model.ActiveAdsQueryResult.Items)
                        {
                            ad.BaseUrl = Model.BaseUrl;
                            <div class="col-md-2 mb-3">
                                @await Html.PartialAsync("MyAdTile", ad)
                            </div>
                        }
                    }
                    else
                    {
                        <h1>Активных объявлений не найдено</h1>
                        <h1>Написать кнопку для перехода на добавления объяявления</h1>
                        // todo Написать кнопку для перехода на добавления объявления
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">
                <!-- Плитки с неактивными объявлениями -->
                <div class="row">
                    @if (Model.InactiveAdsQueryResult.Items is not null && Model.InactiveAdsQueryResult.Items.Any())
                    {
                        @foreach (var ad in Model.InactiveAdsQueryResult.Items)
                        {
                            ad.BaseUrl = Model.BaseUrl;
                            <div class="col-md-2 mb-3">
                                @await Html.PartialAsync("MyAdTile", ad)
                            </div>
                        }
                    }
                    else
                    {
                        <h1>Неактивных объявлений не найдено</h1>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="banned" role="tabpanel" aria-labelledby="banned-tab">
                <!-- Плитки с объявлениями в бане -->
                <div class="row">
                    @if (Model.BannedAdsQueryResult.Items is not null && Model.BannedAdsQueryResult.Items.Any())
                    {
                        @foreach (var ad in Model.BannedAdsQueryResult.Items)
                        {
                            ad.BaseUrl = Model.BaseUrl;
                            <div class="col-md-2 mb-3">
                                @await Html.PartialAsync("MyAdTile", ad)
                            </div>
                        }
                    }
                    else
                    {
                        <h1>Объявлений в бане не найдено</h1>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script> 
    let images; 
    let imageUrl = document.getElementById("profile-photo").src;
    
    function updateImage() {
        let image = document.getElementById("profile-photo");
        let blob = new Blob([new Uint8Array(images)], { type: 'image/jpeg' });
        image.src = URL.createObjectURL(blob);
    }
    
    // Обработчик события клика на изображении профиля для выбора файла
    document.getElementById('profile-photo').addEventListener('click', function() {
        document.getElementById('file-input').click();
    });
    
    // Функция для обновления изображения при выборе файла
    function handleFileSelect(event) {
        let files = event.target.files;
    
        if (files.length > 0) {
            let reader = new FileReader();
            reader.onload = function (e) {
                let arrayBuffer = e.target.result; 
    
                let image = document.getElementById("profile-photo");
                let blob = new Blob([new Uint8Array(arrayBuffer)], { type: 'image/jpeg' });
                   image.src = URL.createObjectURL(blob);
            };
            reader.readAsArrayBuffer(files[0]); // Читаем только первый файл
        }
        document.getElementById('save-photo-btn').style.display = 'inline-block';
        document.getElementById('cancel-photo-btn').style.display = 'inline-block';
    }
    
    // Добавляем обработчик события change на элемент file-input
    document.getElementById('file-input').addEventListener('change', handleFileSelect, false);

    // Функция для удаления фото и возвращения предыдущего изображения
    function removeImage() {
        let image = document.getElementById("profile-photo");
        image.src = imageUrl;
        document.getElementById('file-input').value = ""; 
        document.getElementById('save-photo-btn').style.display = 'none';
        document.getElementById('cancel-photo-btn').style.display = 'none';
    }
    document.getElementById('cancel-photo-btn').addEventListener('click', function () {
                removeImage();
    });
    
    function editName() {
        // Скрываем текст и показываем поле ввода
        document.getElementById("nameText").classList.add("d-none");
        document.getElementById("nameInput").classList.remove("d-none");
        document.getElementById("nameInput").value = document.getElementById("nameText").textContent;
    
        // Показываем кнопки "Галочка" и "Крестик", скрываем кнопку "Редактировать"
        document.getElementById("editButton").classList.add("d-none");
        document.getElementById("saveButton").classList.remove("d-none");
        document.getElementById("cancelButton").classList.remove("d-none");
    }
    
    function saveName() {
        // Скрываем поле ввода и показываем текст
        document.getElementById("nameInput").classList.add("d-none");
        document.getElementById("nameText").classList.remove("d-none");
        document.getElementById("nameText").textContent = document.getElementById("nameInput").value
        
        // Скрываем кнопки "Галочка" и "Крестик", показываем кнопку "Редактировать"
        document.getElementById("saveButton").classList.add("d-none");
        document.getElementById("cancelButton").classList.add("d-none");
        document.getElementById("editButton").classList.remove("d-none");
    }
    
    function cancelEdit() {
        // Скрываем поле ввода и показываем текст
        document.getElementById("nameInput").classList.add("d-none");
        document.getElementById("nameText").classList.remove("d-none");
    
        // Скрываем кнопки "Галочка" и "Крестик", показываем кнопку "Редактировать"
        document.getElementById("saveButton").classList.add("d-none");
        document.getElementById("cancelButton").classList.add("d-none");
        document.getElementById("editButton").classList.remove("d-none");
    }
    
    function showAddContactForm() {
        document.getElementById('addContactForm').classList.remove("d-none");
    }
    
    function cancelAddContact() {
        document.getElementById("ContactNameInput").value = "";
        document.getElementById("ContactDescriptionInput").value = "";
        document.getElementById('addContactForm').classList.add("d-none");
    }
    
    function saveContact() {
        cancelAddContact();
    }

</script>